<<<<<<< HEAD
.intro,
.detail-box {
  padding: 20px 6%;
=======
.intro,.detail-box{  
  padding: 20px 0;
  
>>>>>>> 56e66277d8ae07bdb2c098fac1d8e8009ead0edf
}

.blank {
  width: 3.5%;
}

.intro {
  height: 500px;
  border: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  >li {
    float: left;
    height: 100%;
  }
  .show-box {
    width: 36.5%;
    >div {
      height: calc(100% - 80px);
      border: 1px solid #000;
    }
    .spec-list {
      height: 80px;
      >li {
        float: left;
        height: 100%;
        width: calc(100% - 44px);
      }
      >li:first-child,
      >li:last-child {
        width: 22px;
        background: url('./img/next.png') no-repeat center center;
      }
      >li:first-child {
        transform: scale(-1, 1);
      }
    }
  }
  .describe-box {
    width: 59%;
    .title {
      font-size: 28px;
      font-weight: 700;
      height: 30px;
      line-height: 30px;
      >i {
        position: relative;
        top: 6px;
        margin-left: 1em;
        display: inline-block;
        background: url('./img/collect.png') no-repeat center center;
        width: 31px;
        height: 100%;
      }
    }
    .specifications,
    .describe {
      margin-top: 25px;
    }
    .specifications {
      >li {
        float: left;
      }
      >li:first-child {
        width: 80px;
      }
      >li:first-child {
        width: calc(100% - 80px);
      }
    }
    .describe {
      text-indent: 2em;
    }
  }
}

.detail-box {
  >li {
    float: left;
  }
  .blank,
  .detail {
    min-height: 535px;
  }
  .detail {
    width: calc(96.5% - 200px);
    padding: 20px 0;
    .tab {
      font-size: 18px;
      font-weight: 700;
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #ccc;
    }
    .content {
      padding: 20px 15px;
    }
  }
}